body {
    font-family: sans-serif !important;
}

.btn:hover,
a:hover {
    text-decoration: none !important;
    cursor: pointer;
}

section.pad-hard {
    padding: 100px 0;
}

.navbar {
    background: transparent !important;
    transition: ease-in-out all 0.35s;
    border: 1px solid transparent;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff !important;
}

.cover {
    background-image: url("../img/spring_desk.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
    padding-top: 200px;
}


footer {
    background: #111;
}



/* Rotation possibility */

@-ms-keyframes spin {
    from { -ms-transform: rotate(-180deg); }
    to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(-180deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(-180deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    from {
        transform:rotate(-180deg);
    }
    to {
        transform:rotate(0deg);
    }
}